.serviveCard {
    border-top: 4px solid #ff4500;
    border-left: 2px solid #ff4500;
    border-radius: 1rem;
    box-shadow: 3px 3px 10px #ff4500;
}

.serviveCard p.icon {
    font-size: 3rem;
    color: #ff4500;
}

.serviveCard p.description {
    font-size: 0.94rem;
    text-align: justify;
}